# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Environment variables
.env
.env.*

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs / runtime
*.log
state.json
